.image-section {
    position: relative;
    width: 100%;
    height: auto; /* Image height adjusts based on the aspect ratio */
    max-height: 401px; /* Limit the max height */
    overflow: hidden;
    
  }
  
  .image-section img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensures the image covers the section */
    transform: scaleX(-1); /* Flips the image horizontally */
  }
  
  .overlay {
    position: absolute;
    top: 20px; /* Adjust the distance from the top */
    left: 20px; /* Adjust the distance from the left */
    width: auto;
    height: auto;
    background-color: transparent; /* No background */
    color: rgb(3, 3, 3); /* Text color */
    
  }
  
  /* Style the h1 within the overlay */
  .overlay h1 {
    margin: 76px 20px; /* Remove default margin */
    font-size: 4vw; /* Adjust the size of the title */
    font-weight: bold; /* Make the text bold */

  }
  .buttons-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 20px;
  }
  
  .buttons-section button {
    background-color: white;
    color: black;
    border-radius: 16px;
    padding: 10px 20px;
    font-size: 18px;
    text-transform: none;
    box-shadow: none;
    transition: background-color 0.3s ease;
  }
  
  .buttons-section button:hover {
    background-color: #009F96;
  }
  
  /* Search button styling */
  .seatchbutton {
    background-color: #20B2AA;
  }
  
  .seatchbutton:hover {
    background-color: #009F96;
  }
  