.contactus-container {
    background-color: #e0e0e0;
    padding: 24px;
    border-radius: 8px;
  }
  
  .contactus-header {
    background-color: #a0e1e0;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 16px;
  }
  
  .contactus-info {
    padding-right: 16px;
  }
  
  .contactus-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .contactus-icon {
    margin-right: 8px;
  }
  
  .contactus-text {
    margin-left: 32px;
  }
  
  .contactus-send-message-form {
    background-color: #d0d0d0;
    padding: 24px;
    border-radius: 8px;
  }
  
  .contactus-send-button {
    background-color: #5ccbc4;
  }
  